.root-container {
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 32em;
  left: 0;
  top: 0;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;

  .category-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    padding: 3em;
    border-bottom: rgb(209, 209, 209) 1px solid;
    p {
      font-size: 1.5em;
    }
    button {
      font-family: Poppins;
      cursor: pointer;
      padding: 0.5em 1em;
      border-radius: 0.3em;
      transition: all 0.5s ease-in-out;
      font-size: 1em;
      &:hover {
        background-color: rgb(236, 236, 229);
      }
    }
  }
  .categories-container {
    padding: 2em 0;
  }
}
