.productList-container {
  padding: 5em 0;
  width: 100%;

  .products-container {
    padding: 0.65em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    gap: 0.75em;
    row-gap: 2em;
    margin-top: 2.5em;
  }

  .productList-title {
    text-transform: capitalize;
    text-align: center;
    font-size: 2em;
  }

  .productList-heading {
    text-transform: capitalize;
    text-align: center;
    font-size: 1em;
  }
}
