.navigation-container {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 5;
  // justify-content: space-between;
  align-items: center;
  height: 3em;
  background-color: white;
  padding: 3em;
  overflow-x: clip;
  .navicon {
    cursor: pointer;
    width: 1.9em;
    transition: all 0.5s ease-in-out;
    &:hover {
      opacity: 0.8;
      // transform: scale(1.1);
    }
  }
  .menu-container {
    position: absolute;
    left: 3em;
  }

  .navlinks {
    display: flex;
    position: absolute;
    align-items: center;
    right: 3em;
    .icon {
      text-decoration: none;
      .settings {
        position: relative;
      }
    }
    .icon:nth-child(2) {
      margin: 0 3.5em;
    }
    .setting-loader {
      width: 10em;
      height: 3.5em;
      border-radius: 0.5em;
      padding: 5px 1.3em;
    }
    .my-account {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 5px 1em;
      cursor: pointer;
      width: 10em;
      height: 3.5em;
      border-radius: 0.5em;
      // filter: drop-shadow(0 0 1.75rem rgba(0, 0, 0, 0.216));
      background-color: rgb(244, 244, 244);

      z-index: 1;
      span {
        color: black;
        text-decoration: none;
      }
      span:first-child {
        font-size: 1.5em;
      }
      svg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1em;
        margin: auto 0;
        width: 1em;
      }
      .username {
        text-transform: capitalize;
      }
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 10em;
    height: 4em;
    background-color: black;
    border-radius: 0.3em;
    overflow: hidden;
    .logo {
      font-family: 'Sacramento', cursive;
      align-items: center;
      color: white;
      font-weight: 400;
      font-size: 5.7em;
    }
  }
}
